<ul>
  <li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %> | 
  </li>
  <li>
    <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "　　　削除　　　", user, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-primary btn-sm" %>
    <% end %> 
  </li>
  <!--アコーディオンボタン-->
  <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#demo">　　　編集　　　</button>
  <div id="demo" class="acodion-panel">
    <!--フォームの実装--> 
    aaaaaaaaaaaaaaaaaaaaaaaaaaa。<br/>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaa。<br/>
  </div>
</ul>

