<h1>出勤社員一覧</h1>
<div>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <td class="table-body">社員番号</td>
      <td class="table-body">名前</td>
    </tr>  
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to(user.name) %></td>
    </tr>
    <% end %>
  </table>
</div>