<% provide(:title, 'All users') %>
<h1>ユーザ一覧</h1>
<%= link_to "ユーザ一覧のCSVエクスポート", users_path(format: :csv), class: "btn btn-primary btn-sm" %>

<%= will_paginate %>
<ul class="users">
    <%= render :partial => "users/users_accordion", :locals => { users: @users } %>
</ul>

<%= will_paginate %>