<h1>勤怠ログ</h1>
<div>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <td class="table-body">日付</td>
      <td class="table-body">変更前出社時間</td>
      <td class="table-body">変更前退社時間</td>
      <td class="table-body">変更後出社</td>
      <td class="table-body">変更後退社</td>
      <td class="table-body">指示者</td>
      <td class="table-body">承認日</td>
    </tr>  
    <tr>
      <td class="table-body"></td>
      <td class="table-body"></td>
      <td class="table-body"></td>
      <td class="table-body"></td>
      <td class="table-body"></td>
      <td class="table-body"></td>
      <td class="table-body"></td>
    </tr>
  </table>
</div>